.InputFieldWrapper input {
  display: block;
  margin-top: .5rem;
  padding: 0;
  width: 100%;
  max-width: 280px;
  height: auto;
  line-height: normal;
  font-size: 1.675rem;
  color: #333333;
  border: none;
  border-bottom: 2px solid #adadad;
  background-color: transparent;
  margin-bottom: 10px;
}

.InputFieldWrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.InputFieldWrapper input::placeholder {
  color: #333333;
  opacity: 1;
  line-height: normal !important;
}

.InputFieldWrapper input:focus,
.InputFieldWrapper input:active {
  outline: none;
  display: block;
  margin-top: .5rem;
  padding: 0;
  width: 100%;
  max-width: 280px;
  height: auto;
  line-height: normal;
  font-size: 1.875rem;
  color: #333333;
  border: none;
  border-bottom: 2px solid #adadad;
  background-color: transparent;
}

.InputFieldWrapper label {
  color: #333333;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: +.5px;
}