.Nav {
  margin: 0;
  padding: .5rem 1.5rem;
  height: 100%;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-transition: background-color .5s ease-out;
  -ms-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.Logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}